$layout-breakpoint-xxsmall: 300px;
$layout-breakpoint-xsmall: 400px;
$layout-breakpoint-small: 500px;
$layout-breakpoint-xmedium: 600px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1000px;
$layout-breakpoint-xlarge: 1200px;


