$color-white: rgb(254, 255, 253);
$color-darkpink: rgb(255, 158, 185);
$color-mediumpink: rgb(255, 162, 192);
$color-lightpink: rgb(255, 216, 230);
$color-lightblue: rgb(122, 161, 212);
$color-darkblue: rgb(105, 173, 244);
$color-background: rgb(253, 253, 253);
$color-backgroundApp: rgb(204, 204, 204);

.gradient-pink {
   
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffd8e7&c2=ffa2c0&gt=l&gd=dbb
*/
background: $color-lightpink;
background: linear-gradient(0deg, $color-lightpink, $color-mediumpink);
}
