@import '../abstracts/';

header{
    width: 100%;
    height: 100vh;
    background: radial-gradient($color-dark-pink, $color-dark-violet);
    border: 2px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1200px) {
   header {
    height: 75vh;
} 
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
  
 
   
}

nav {
    width: 0;
}


.nav__link{
    text-decoration: none;
    color: black;
}


    .nav__item {
        padding: 10px;
        font-size: 0.6em;
        margin-left: 10px;
        text-decoration: none ;
        color: black;
    }
.hamburger{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    
}

.nav-icon-1{
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-1 span{
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
  
  }
  .nav-icon-1:hover span{
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1 span:nth-child(1){
    left: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(2){
    left: 12px;
    top: 0;
  }
  .nav-icon-1 span:nth-child(3){
    right: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(4){
    left: 0;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(5){
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(6){
    right: 0px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(7){
    left: 0px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(8){
    position: absolute;
    left: 12px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(9){
    right: 0px;
    bottom: 0px;
  }
  .nav-icon-1.open{
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span{
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span:nth-child(2) {
    left: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(4) {
    left: 6px;
    top: 18px;
  }
  .nav-icon-1.open span:nth-child(6) {
    right: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
  }


@media only screen and (max-width: 768px) {
   
   
    .nav__menu{
        height: 60vh;
        position: absolute;
        top: 50px;
        margin-top: 50px;
        left: 0;
        z-index: 2;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: aqua;
    }
    .nav__hide{
        display: none;
    } 
}





@media only screen and (min-width: 768px) {
    .hamburger{
        display: none;
        background-color: rgb(249, 217, 213);
        border: none;
        font-size: 30px;
        margin-left: auto;
        margin-right: 10px;
    }

    .nav__block {
        display: block;
    }
   
}