@import '../abstracts/';

header {
  width: 100%;
  height: 20vh;
  padding: 0 20px;
  background: radial-gradient($color-dark-pink, $color-dark-violet);
  position: relative;
}

@media screen and (min-width: 1200px) {
  header {
    height: 75vh;
    align-items: flex-start;
  }
}

.header__container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav__menu {
  display: flex;
  flex-direction: column;
}

@media(min-width:1200px) {
  .header__container {
    padding: 30px 20px;
    height: 20%;

    .nav__menu {
      flex-direction: row;
      align-items: center;

      li {
        margin-right: 20px;
      }
    }
  }
}

.nav__link {
  padding: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {

  .hamburger {
    position: absolute;
    right: 20px;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__menu {
      height: 80vh;
      position: absolute;
      top: 20vh;
      width: 100%;
      left: 0;
      z-index: 2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $color-dark-pink
    }
  }

  .nav__hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border: none;
    // font-size: 30px;
    // position: absolute;
    // right: 0;
  }

  .hamburger {
    // display: none;
    background-color: rgb(249, 217, 213);
    border: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: 10px;
  }

  .nav__block {
    display: block;
  }

}