@import '../abstracts/';

header {
  width: 100%;
  height: 60vh;
  padding: 0 20px;
  background: radial-gradient($color-dark-pink, $color-dark-violet);
  position: relative;
  display: flex;
  flex-direction: column;

  .header__container {
    width: 100%;
    height: 30%;
    padding: 30px 0px;

    .header__logo {
      flex-basis: 30%;
      @include flexAbsoluteCenter;
    }

    .navigation {
      flex-basis: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .nav__menu {
        display: none;
      }

      .nav__menu.nav__block {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vh;
        width: 100%;
        position: absolute;
        top: 60vh;
        left: 0;
        z-index: 2;
        background: radial-gradient(circle, $color-dark-pink 40%, $color-dark-violet 100%);

        li {


          a {
            color: $color-white;
            text-decoration: none;
          }
        }
      }

    }
  }



}


@media screen and (min-width: 1200px) {
  header {
    height: 75vh;
    align-items: flex-start;

    .header__container {
      .navigation {
        .nav {
          .nav__menu {
            display: block;
            display: flex;
            flex-direction: row;

            &>li:not(:nth-child(3)) {
              margin-right: 10px;
            }

            &>li {
              a {
                color: $color-white;
              }
            }
          }

        }
      }
    }
  }

}




@media(min-width:1200px) {
  .header__container {





    .nav__menu {
      flex-direction: row;
      align-items: center;



    }
  }
}




@media only screen and (max-width: 768px) {

  .hamburger {
    position: absolute;
    right: 20px;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    // .nav__menu {
    //   height: 80vh;
    //   position: absolute;
    //   top: 20vh;
    //   width: 100%;
    //   left: 0;
    //   z-index: 2;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   background-color: $color-dark-pink
    // }
  }

  .nav__hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border: none;
    // font-size: 30px;
    // position: absolute;
    // right: 0;
  }

  .hamburger {
    // display: none;
    background-color: rgb(249, 217, 213);
    border: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: 10px;
  }



}