@import '../abstracts/';

.pricing__header {
        text-align: center;
        font-size: 1.5em;
    font-weight: 150;
    padding: 23px 0 20px;
      
     
        color: $color-dark-grey
    }

    .pricing__description {
        text-align: center;
        font-size: 1em;
        font-weight: 200;
        line-height: 1.5em;
    
        color: $color-dark-grey
    }

    .pricing__container {
        @include flexAbsoluteCenter;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: repeat(3, 250px);
        grid-auto-flow: row;

        .pricing__element {
            @include flexAbsoluteCenter;
            flex-direction: column;
            padding: 0 50px;

          

            .type {
                font-size: 1em;
                margin-bottom: 20px;
            }

            .price {
                font-size: 2em;
                font-weight: 600;
            }

            .sub-price {
                font-size: 0.8em;
            }

            .info {

            }

            .feature__description {
                font-weight: bold;
                text-align: center;
            }

            .feature__text {
                text-align: center;
            }
        }
    }
    @media(min-width: 768px) {
        
            .pricing__container {
                display: grid;
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: 80%;
                grid-auto-flow: row;



            }
        }


.pricingplans__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: grey;
    padding: 20px;
    min-height: 400px;
}

.pricingplan{
    display: flex;
    justify-content:stretch;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.pricingplan__type{
    font-size: 1.2rem;
    padding: 10px;
}

.pricingplan__price{
    font-size: 2rem;
    color: black;
}

.pricingplan__info{
    list-style-type: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.pricingplan__info li:nth-child(1){
    font-size: 0.8rem;
    padding-bottom: 20px;
}

